# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  actions: write
  contents: read

jobs:
  pre-check: # Check and avoid running tests on the same code (e.g. after pr merge)
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          paths_ignore: '["**/*.md"]'
          cancel_others: 'true'
          concurrent_skipping: 'never'
          skip_after_successful_duplicate: 'true'
          do_not_skip: '["workflow_dispatch"]'

  # Test build, lint & unit before running expensive e2e tests
  test-unit:
    needs: [pre-check]
    if: ${{ needs.pre-check.outputs.should_skip != 'true' }}
    name: "test build, lint & unit"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm run --aggregate-output --reporter-hide-prefix build
      - name: Run lint
        run: pnpm run test:lint
      - name: Run unit tests
        run: pnpm run --aggregate-output --reporter-hide-prefix test:unit
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          retention-days: 1
          path: | # Workaround, see https://github.com/actions/upload-artifact/issues/174#issuecomment-2878874192
            root-placeholder
            packages/*/dist

  test-e2e-desktop:
    needs: [test-unit]
    strategy:
      fail-fast: false
      matrix:
        include:
          # Matrix of
          #     os: [ubuntu, windows, macos]
          #     arch: [x86, arm],
          #     [node18, node20, node22, node24]
          # organized to minimize job count
          - os: ubuntu-latest
            node-version: "18.x"
            test-level: "all"
            obsidian-versions: "sample"
          - os: windows-latest
            node-version: "20.x"
            test-level: "standard"
            obsidian-versions: "latest/latest/standard earliest/earliest/basic"
          - os: macos-latest # arm
            node-version: "22.x"
            test-level: "standard"
            obsidian-versions: "latest/latest/standard earliest/earliest/basic"
            # macos runners have less RAM and have issues with high parallelism
            max-instances: 2
            pnpm-args: "--sequential"
          - os: ubuntu-24.04-arm
            node-version: "24.x"
            test-level: "standard"
            obsidian-versions: "latest/latest/standard earliest/earliest/basic"
          # Skip these to save time (window-arm is especially slow for some reason)
          # - os: windows-11-arm
          #   node-version: "22.x"
          #   test-level: "basic"
          #   obsidian-versions: "latest/latest latest/1.6.5"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    name: test e2e (${{ matrix.os }}, node ${{ matrix.node-version }})
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Cache .obsidian-cache
        uses: actions/cache@v4
        with:
          path: .obsidian-cache
          key: obsidian-cache-${{ matrix.os }}-${{ matrix.obsidian-versions }}-${{ hashFiles('./obsidian-versions.json') }}

      - run: pnpm install --frozen-lockfile
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build

      # We already ran these, but we'll run in the matrix as well to test different node versions
      - name: Run unit tests
        run: pnpm run --aggregate-output --reporter-hide-prefix test:unit

      # On linux runners we need to set up a virtual graphics stack for Obsidian. Here we use xvfb as a virtual display
      # server and herbstluftwm as the window manager. (You can sometimes get by without the window manager, but some
      # Obsidian features won't work properly wihtout it.)
      - if: ${{ startsWith(matrix.os, 'ubuntu-') }}
        name: "Setup virtual graphics"
        run: |
            # Some hacks to speed up apt install
            sudo rm -rf /etc/apt/sources.list.d/*.list
            echo "set man-db/auto-update false" | sudo debconf-communicate
            sudo dpkg-reconfigure man-db

            sudo apt-get update -q
            sudo apt-get install -q herbstluftwm dzen2 x11-xserver-utils

            export DISPLAY=:99
            echo "DISPLAY=$DISPLAY" >> "$GITHUB_ENV"
            Xvfb $DISPLAY -screen 0 1280x1024x24 +extension GLX -noreset &
            sleep 1
            herbstluftwm &
            sleep 1

      - name: Run e2e tests
        run: pnpm run --aggregate-output --reporter-hide-prefix ${{ matrix.pnpm-args }} test:e2e
        env:
          # 3 test levels:
          #   - basic (fast, just test the core features)
          #   - standard (medium, run most the tests)
          #   - all (slow, include the expensive tests)
          TEST_LEVEL: ${{ matrix.test-level }}
          OBSIDIAN_VERSIONS: ${{matrix.obsidian-versions}}
          WDIO_MAX_INSTANCES: ${{matrix.max-instances || '3'}}
          # Secrets won't be available when run on a PR
          OBSIDIAN_EMAIL: ${{ secrets.OBSIDIAN_EMAIL }}
          OBSIDIAN_PASSWORD: ${{ secrets.OBSIDIAN_PASSWORD }}

  test-e2e-android:
    needs: [test-unit]
    env:
      AVD_ARGS: "-no-metrics -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none"
    strategy:
      fail-fast: false
      matrix:
        include:
          - obsidian-versions: "latest earliest"
            android-api-level: 36
            android-profile: pixel
            node-version: "18.x"
          # Just using one matrix for now to save github minutes consumed
          # Doing both versions in one runner also makes tests that the re-install logic is working
          # - obsidian-versions: earliest
          #   android-api-level: 36
          #   android-profile: pixel
          #   node-version: "24.x"
    runs-on: ubuntu-latest
    name: test e2e (android, api ${{ matrix.android-api-level }}, profile ${{ matrix.android-profile }}, obsidian ${{ matrix.obsidian-versions }})
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Cache .obsidian-cache
        uses: actions/cache@v4
        with:
          path: .obsidian-cache
          key: obsidian-cache-android-${{ matrix.obsidian-versions }}-${{ hashFiles('./obsidian-versions.json') }}

      - run: pnpm install --frozen-lockfile
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
  
      - name: AVD cache
        id: avd-cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.android-api-level }}-${{ matrix.android-profile }}

      - name: run android tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          force-avd-creation: false
          avd-name: obsidian_test
          emulator-options: -no-snapshot-save ${{ env.AVD_ARGS }}
          api-level: ${{ matrix.android-api-level }}
          arch: "x86_64"
          target: google_apis
          profile: ${{ matrix.android-profile }}
          disk-size: 4096M
          heap-size: 512M
          script: pnpm run --aggregate-output --reporter-hide-prefix test:android
        env:
          OBSIDIAN_VERSIONS: ${{ matrix.obsidian-versions }}
          OBSIDIAN_EMAIL: ${{ secrets.OBSIDIAN_EMAIL }}
          OBSIDIAN_PASSWORD: ${{ secrets.OBSIDIAN_PASSWORD }}

  post-check:
    if: always()
    needs: [test-unit, test-e2e-desktop, test-e2e-android]
    runs-on: ubuntu-latest
    steps:
      - name: Check all tests passed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-skips: ${{ toJSON(needs) }}
